@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lexend:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

body, p {
  font-family: 'Nunito', sans-serif;
}

/* Fix Chrome flickering on Intel Macs */
html, body {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}
